* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* dont display stupid number input spinner box */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.userView {
  border: 2px solid black;
}

.category-header, .item-input-container, .item-container {
  display: flex;
  justify-content: space-between;
}

.category-input-container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 10px;
}

.category-list {
  list-style: none;
  padding: 40px;
  margin: 0 auto;
  border: 2px solid black;
  text-align: left;
  max-width: 500px;
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
}

.category-container {
  margin-bottom: 30px;
  text-align: left;
}

.item-input-container {
  margin: 20px 0;
}

.item-container {
  margin: 10px 0;
  display: flex;
  align-items: baseline;
}

.user-form {
  width: 250px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  grid-gap: 20px;
} 

.user-form .form-group {
  align-items: center;
  margin: 0;
  display: flex;
}

.user-form .input-group {
  align-items: center;
  flex-wrap: nowrap;
}

.user-form .input-group label {
  margin: 0;
}

#scoreValue {
  align-items: baseline;
  width: 60px;
}

.category-score {
  width: auto;
  float: right;
}

.clearDiv {
  clear: both;
}
